<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Add Patient - LifeLinkr</title>
    <link rel="stylesheet" href="../stylesheets/style-starter.css?v=0.2" />
    <link rel="stylesheet" href="../stylesheets/style.css?v=0.1" />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />

    <!-- main content start -->

    <!-- content -->
    <div class="container-fluid">
      <!-- charts -->
      <div class="col-lg-12 pl-lg-0 mt-2">
        <h4 class="primary">Add Patient</h4>
      </div>
      <div class="chart">
        <div class="row">
          <div class="col-lg-12 pl-lg-2 chart-grid mt-1">
            <!--part 1-->
            <div class="card card_border">
              <div class="">
                <div class="col-xl-12 pr-xl-2 p-heading">
                  <h6 class="p-text">Patient Profile</h6>
                </div>

                <div class="col-xl-12 pr-xl-2 mb-4">
                  <form
                    id="patientForm"
                    enctype="multipart/form-data"
                    method="post"
                    class="mt-2"
                  >
                    <input type="hidden" name="query" id="query" value="0" />
                    <div id="errordiv"></div>
                    <div class="row">
                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Code*</label
                          >
                          <input
                            type="text"
                            class="form-control input-style"
                            id="code"
                            name="code"
                            data-validation="required"
                            data-error-message="Code is required"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label class="input__label">Patient Name*</label>
                          <input
                            type="text"
                            class="form-control input-style"
                            id="name"
                            name="name"
                            data-validation="required"
                            data-error-message="Patient Name is required"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Email</label
                          >
                          <input
                            type="email"
                            class="form-control input-style"
                            id="email"
                            name="email"
                            aria-describedby="emailHelp"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-xl-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Mobile*</label
                          >
                          <input
                            type="number"
                            class="form-control input-style"
                            id="mobile"
                            name="mobile"
                            aria-describedby="emailHelp"
                            data-validation=" mobileNum required"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Age*</label
                          >
                          <input
                            type="number"
                            class="form-control input-style"
                            id="age"
                            name="age"
                            placeholder=""
                            data-validation="required"
                            data-error-message="Age is required"
                          />
                        </div>
                      </div>

                      <div class="col-xl-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Gender*</label
                          >
                          <select
                            class="form-control input-style"
                            id="gender"
                            name="gender"
                            data-validation="required"
                            data-error-message="Gender is required"
                          >
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Weight in KG</label
                          >
                          <input
                            type="number"
                            class="form-control input-style"
                            id="weight_Kg"
                            name="weight_Kg"
                            step="any"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Height in Feet</label
                          >
                          <input
                            type="number"
                            class="form-control input-style"
                            id="height_Feet"
                            name="height_Feet"
                            aria-describedby="emailHelp"
                            step="any"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="temperature" class="input__label"
                            >Temperature In C</label
                          >
                          <input
                            type="number"
                            class="form-control input-style"
                            id="temperature"
                            name="temperature"
                            step="any"
                            data-validation=""
                            data-error-message="Temperature is required"
                          />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="pulse" class="input__label">Pulse</label>
                          <input
                            type="number"
                            class="form-control input-style"
                            id="pulse"
                            name="pulse"
                            step="any"
                            data-validation=""
                            data-error-message="Pulse is required"
                          />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="bmi" class="input__label">BMI</label>
                          <input
                            type="number"
                            class="form-control input-style"
                            id="bmi"
                            name="bmi"
                            step="any"
                            data-validation=""
                            data-error-message="BMI is required"
                          />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="bloodPressure" class="input__label"
                            >Blood Pressure</label
                          >
                          <input
                            type="text"
                            class="form-control input-style"
                            id="bloodPressure"
                            name="bloodPressure"
                            data-validation=""
                            data-error-message="Blood Pressure is required"
                          />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="bloodGroup" class="input__label"
                            >Blood Group</label
                          >
                          <select
                            class="form-control input-style"
                            id="bloodGroup"
                            name="bloodGroup"
                            data-validation=""
                            data-error-message="Blood Group is required"
                          >
                            <option value="" disabled="" selected="">
                              Select Blood Group
                            </option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                          </select>
                        </div>
                      </div>

                      <!-- <div class="col-xl-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Profile Image</label
                          >
                          <input
                            type="file"
                            class="form-control input-style"
                            id="image"
                            name="image"
                          />
                        </div>
                      </div> -->
                      <div class="col-3 mt-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Profile Image</label
                          >
                          <img
                            id="displayimg"
                            alt=""
                            src="../MyUploads/<%=data.image%>"
                            style="max-width: 350px; max-height: 150px"
                          />

                          <input
                            type="file"
                            class="form-control input-style"
                            id="image"
                            name="image"
                          />
                        </div>
                      </div>
                      <div class="col-xl-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Report</label
                          >
                          <img
                            id="displayimg"
                            alt=""
                            src="../MyUploads/<%=data.report%>"
                            style="max-width: 350px; max-height: 150px"
                          />
                          <input
                            type="file"
                            class="form-control input-style"
                            id="report"
                            name="report"
                          />
                        </div>
                      </div>

                      <div class="col-xl-6 pr-xl-2">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Address</label
                          >
                          <input
                            type="text"
                            id="address"
                            name="address"
                            class="form-control input-style expandable-textbox"
                          />
                        </div>
                      </div>
                      <div style="display: none" class="col-xl-3 visit">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Doctor</label
                          >
                          <select
                            class="form-control input-style v2"
                            name="doctor"
                            id="doctor"
                            data-validation=""
                            data-error-message="Doctor name is required"
                          >
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>

                      <div style="display: none" class="col-xl-3 pr-xl-2 visit">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="input__label"
                            >Appointment Day*</label
                          >
                          <select
                            class="form-control input-style v2"
                            name="day"
                            id="day"
                            data-validation=""
                            data-error-message="Day is required"
                          >
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>

                      <div style="display: none" class="col-xl-3 pr-xl-2 visit">
                        <div class="form-group">
                          <label class="input__label">Appointment Time*</label>
                          <select
                            class="form-control input-style v2"
                            name="time_available"
                            id="time"
                            data-validation=""
                            data-error-message="Time is required"
                          >
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xl-3 pr-xl-2 mt-4"></div>
                    </div>
                    <div id="loadingIndicator"></div>
                    <div class="text-right">
                      <button
                        type="button"
                        onclick=" window.location.href = '/patients'"
                        class="btn btn-danger btn-style mt-3 mr-3"
                      >
                        <i class="fas fa-times"></i> Cancel
                      </button>
                      <button
                        type="submit"
                        id="sub-btn"
                        class="btn btn-primary btn-style mt-3"
                      >
                        <i class="far fa-save"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--part 1 ended-->
          </div>
        </div>
      </div>
      <!-- //charts -->
    </div>
    <%-include('../footer'); -%>

    <script>
      // Function to calculate BMI
      function calculateBMI() {
        var weight = parseFloat(document.getElementById("weight_Kg").value); // Weight in KG
        var heightInFeet = parseFloat(
          document.getElementById("height_Feet").value
        ); // Height in feet

        if (isNaN(weight) || isNaN(heightInFeet) || heightInFeet <= 0) {
          document.getElementById("bmi").value = ""; // If input is invalid, clear BMI field
          return;
        }

        // Convert height from feet to meters (1 foot = 0.3048 meters)
        var heightInMeters = heightInFeet * 0.3048;

        // Calculate BMI: weight (kg) / height (m)^2
        var bmi = weight / (heightInMeters * heightInMeters);

        // Display the calculated BMI
        document.getElementById("bmi").value = bmi.toFixed(2); // Display BMI to 2 decimal places
      }

      // Add event listeners to weight and height inputs to trigger BMI calculation
      document
        .getElementById("weight_Kg")
        .addEventListener("input", calculateBMI);
      document
        .getElementById("height_Feet")
        .addEventListener("input", calculateBMI);
    </script>

    <script>
      const params = new URLSearchParams(window.location.search);
      $(document).ready(function () {
        console.log("Document is ready");
        const formId = "#patientForm";
        $(formId).on("submit", function (event) {
          event.preventDefault();
          const { isValid, errorMessage } = validateForm(formId);
          const errorDivId = "#errordiv";
          let cid = params.get("cid");
          console.log(cid);

          if (isValid) {
            const url = "/qrpatient";
            const loadingDiv = "#loadingIndicator";
            const formData = new FormData(this);

            formData.append("cid", cid);

            // Log the form data entries for debugging
            const dataArray = Array.from(formData.entries());
            console.log("Form data entries:", dataArray);

            saveFormImg(formData, errorDivId, url, loadingDiv)
              .then(function (patientData) {
                console.log("Patient data received:", patientData);

                // Create new FormData and add only specified fields
                // const newForm = new FormData();
                // newForm.append("patientId", patientData.newPatient.id); // From response
                // newForm.append(
                //   "heightFeet",
                //   patientData.newPatient.height_Feet
                // ); // From response
                // newForm.append("weightKg", patientData.newPatient.weight_Kg); // From response

                // // Add only specified fields from original formData
                // newForm.append("pulse", formData.get("pulse"));
                // newForm.append("bloodPressure", formData.get("bloodPressure"));
                // newForm.append("bloodGroup", formData.get("bloodGroup"));
                // newForm.append("temperature", formData.get("temperature"));
                // newForm.append("bmi", formData.get("bmi"));

                // // Log newForm data for verification
                // const newFormDataArray = Array.from(newForm.entries());
                // console.log("New form data entries:", newFormDataArray);

                // saveForm(
                //   newForm,
                //   errorDivId,
                //   "/saveEmrExamination",
                //   "#loadingIndicator"
                // );
              })
              .catch(function (error) {
                console.error("Error saving patient data:", error);
              });
          } else {
            $(errorDivId)
              .removeClass("alert-success")
              .addClass("alert-danger")
              .text(errorMessage)
              .show();
          }
        });
      });
      document.getElementById("footmenu").style.display = "none";
    </script>
  </head>
</html>
